<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2023 Allen Li
  ~
  ~ All rights reserved.
  ~
  ~ This software is the property of Allen Li and is protected by copyright,
  ~ trademark, and other intellectual property laws. You may not reproduce, modify,
  ~ distribute, or create derivative works based on this software, in whole or in part,
  ~ without the express written permission of Allen Li.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taskus"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>